{% extends "layout.html.twig" %}
{% block title %}View Cart{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<div class="col">
        <h1 class="h1-responsive text-center mb-3 mt-3">View Cart <a href="browse.php" class="btn btn-primary">Back to shopping</a></h1>
        <hr />
    </div>
</div>
<form method="post" action="cart.php" class="week3 form-cart">
<input type="hidden" name="item-id" id="item-id" value="" />
<input type="hidden" name="item-quantity" id="item-quantity" value="" />
<input type="hidden" id="form-action" name="action" value="" />
{% include 'week3/_cart.html.twig' with {'controls': true} %}
</form>
{% endblock %}