{% extends "../layout.html.twig" %}
{% block title %}Checkout Items{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<div class="col">
        <h1 class="h1-responsive text-center mb-3 mt-3">View Cart</h1>
        <hr />
        Cart items go here
    </div>
</div>
{% endblock %}