{% extends "../layout.html.twig" %}
{% block title %}Order Confirmation{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<div class="col">
        <h1 class="h1-responsive text-center mb-3 mt-3">Order Confirmation</h1>
        <hr />
    </div>
</div>
{% endblock %}