{% extends "layout.html.twig" %}
{% block title %}CS313 - Stephen Nielson {% endblock %}
{% block content %}
<div class="row">
	<div class="col  text-center">
		<h1 class="h1-responsive text-center mb-2 mt-5">Welcome!</h1>
		<p>Hi there.  My name is Stephen Nielson and I welcome you to the home page for my CS-313 class.  I'd like to tell you a little bit about me.</p>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-sm-8">
		<div class="card mb-3">
			<img class="card-img-top" src="/assets/images/nielson-family.jpg" alt="My Family" />
			<div class="card-header text-center bg-info text-light"><h2>My Family</h2></div>
			<div class="card-body">
				<p>Outside of my personal faith in <a href="www.lds.org">God</a>, my family is the most important thing to me in the world.
					I married truly my better half and am privileged to have six beautiful daughters.  We travel around a lot but we currently are living in the 
					top ranked safest city of Georgia, Summerville!
				</p>
				<p>I love big families.  I actually have 8 brothers and 6 sisters, making my family of origin 17 people total!  Yea, I never got my own room -- ever.</p>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-sm-8">
		<div class="card mb-3">
			<img class="card-img-top" src="/assets/images/nielson-career.png" alt="My Career" />
			<div class="card-header text-center bg-info text-light"><h2>My Career</h2></div>
			<div class="card-body">
				<p>I started developing websites when I was twelve years old.  Back when PHP 3.0 came out -- yes that means to some of you I am old...
				It all started when me and a friend were having problems managing our Starcraft clan of 300 people.  They knew some programming and asked if I could
				help them out.  I started developing the site and just grew to love it. I soon traded playing video games 16 hours a day and sleeping in school to programming 16 hours a day and yep, still sleeping in school.
				</p>
				<p>After a number of years of doing my own projects I actually started working for others around age 17.  My intent was go to school at some point 
				but but everytime I talked with my employer about enrolling in the university my company doubled my salary.  I learned the concept of golden handcuffs at an early age.
				</p>
				<p>However, after serving an mission for the Church of Jesus Christ of Latter Day Saints, I finally went to school at Brigham Young University and majored in Family Life with a minor in Computer Science.
				I've always dreamed of helping families and relationships out through technology and that's what I've dedicated my career to.  I've worked with a number of ventures to that end but I currently
				am the Chief Technology Officer and co-founder of a company called Discover and Change.  We provide tools and services to both individuals and therapists to help both sex addicts and partners of sex addicts
				recover and heal.  Right now a lot of what we do is assessment services using a variety of services, but we will eventually branch out into machine learning and artifical intelligence
				to provide better assessments, treatment recommendations, and personalized recovery plans</p>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-sm-8">
		<div class="card mb-3">
			<img class="card-img-top h-10" src="/assets/images/me.jpg" alt="My Picture" />
			<div class="card-header text-center bg-info text-light"><h2>My Goals</h2></div>
			<div class="card-body">
				<p>I'll continue adding and updating this content but I thought I'd add a few of what my goals are.</p>
				<p>It may seem odd that I already have a degree but that I'm going back to school.  The thing is that I want to continue to learn more about
				artificial intelligence, machine learning, and more advanced computer science topics.  I plan on getting my masters and possibly even my Ph.D.
				To do that I need to show that I've passed a number of computer science classes that go beyond my minor.  For that reason I enrolled in the Online BYU-Idaho 
				and I have just three more classes until I am finished.</p>
				<p>My next goal is to get my business from a startup / bootstrap phase to one that is helping many therapists and individuals across the country.</p>
				<p>My third goal is to continue to focus on my family and help my daughters get ready for marriage and their missions in life.</p>
				<p>Thank you for taking some time to read about me!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
