<div class="row">
    <div class="col-10"><h2>Editing Appointment {{editItem.id}}</h2></div>
    <div class="col-2"><a [routerLink]="['/appointments']">Back to list</a></div>
  </div>
  <p *ngIf="!hasLoaded" class="alert alert-info">Loading data...</p>
  <div *ngIf="hasLoaded">
    <form class="card card-body mb-3">
      <h3>Appointments Profile</h3>
      <label>
        Start Date:
        <input type="text" class="form-control" name="name" [(ngModel)]="editItem.startDate" />
      </label>
      <label>
          End Date:
          <input type="text" class="form-control" name="name" [(ngModel)]="editItem.endDate" />
        </label>
        <label>
            Status:
            <select name="status" [(ngModel)]="editItem.status" class="browser-default custom-select w-100">
              <option [value]="status" *ngFor="let status of statii">{{status}}</option>
            </select>   
          </label>
          <label>
              Therapist:
              <select name="therapist" [(ngModel)]="editItem.therapistID" class="browser-default custom-select w-100">
                <option [value]="therapist.id" *ngFor="let therapist of therapists">{{therapist.name}}</option>
              </select>
            </label>
            <label>
                Client:
                <select name="client" [(ngModel)]="editItem.clientID" class="browser-default custom-select w-100">
                  <option [value]="client.id" *ngFor="let client of clients">{{client.name}}</option>
                </select>
              </label>
      <a  (click)="save()" class="btn btn-primary">Save</a>
    </form>
  </div>