<h2>Activity Log</h2>
<form>
  <label>
    Entity
    <select name="filter" [(ngModel)]="searchFilter.filter" class="browser-default">
      <option [value]="entity" *ngFor="let entity of entities">{{entity}}</option>
    </select>
  </label>
  <input type="button" (click)="filter()" value="Filter" class="btn btn-primary" />
  <input type="button" (click)="reset()" value="Reset" class="btn btn-secondary" />
</form>
<p *ngIf="!hasLoaded" class="alert alert-info">Loading data...</p>
<dac-activitylog-table [logs]="logs" *ngIf="hasLoaded"></dac-activitylog-table>